body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#goal_list {
	list-style-type: none;
	padding: 0px;
}

#goal_list li {
	position: relative;
}

a {
	text-decoration: none;
}

label {
	display: block;
	margin-top: 10px;
}


.newGoalIntro {
	margin-top: 10px;
	margin-bottom: 5px;
}

#header {
	height: 80px;
	width: 100%;
	background-color: #252839;
	color: white;
	font-weight: 600;
}

#header .btn {
	float: right;
	display: inline-block;
	margin: 30px 20px;
	color: white;
}

#header .btn i {
	margin-right: 10px;
}

#logo {
	margin-top: 12px;
	float: left;
}

#goal_list .goal {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 15px;
}

#goal_list .time {
	height: 10px;
	width: 100%;
	background-color: yellow;
	margin-bottom: 15px;
}

#goal_list .money {
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: bold;
}

#goal_list .failure {
	font-size: 13px;
	color: #333;
}

#goal_list .organization {
	font-size: 15px;
	font-weight: 600;
}

.centered {
	width: 800px;
	margin: auto;
}