<br />

<h3>How U4Good works:</h3>

<p>You and your friends can set goals and ‘rewards' to spread inspiration and motivation between and around you!</p>
<p>You can either challenge (or support) a friend to accomplish a goal, or you can challenge yourself to become motivated (and your friends can support you in your journey)!</p>
<p>By setting goals, not only you become better, but you are also given the chance to do something Good for the rest of the world!</p>
<p>Oh - and don’t forget to set a deadline!</p>



<h3>When YOU challenge a FRIEND:</h3>

<p>If they succeed:
<ul>
	<li>You offer the ‘gift' to them to congratulate them for their achievement - and then they can choose themselves how to cherish that ‘gift’!</li>
</ul>

If they fail:
<ul>
	<li>You can ask for the ‘gift’ to be returned to you, or</li>
	<li>You can choose to donate all or part of the ‘gift' to charity!</li>
</ul>
</p>



<h3>When YOU challenge YOURSELF:</h3>

<p>
If you succeed:

<ul>
	<li>You can ask for the ‘gift’ to be returned to you, or</li>
	<li>You can choose to spread the Good by donating all or part of your ‘gift’ to charity!</li>
</ul>

If you fail: 
<ul>
	<li>The ‘gift’ is donated to charity; so, even when you “lose,” a person in need somewhere in	the world becomes a winner!</li>
</ul>
</p>


<h3>How to join:</h3>
<p>Sign in through your Facebook account.</p>


<b><i>Finally, invite your friends to join your journey, and start spreading some Good vibes around!</i></b>